<div class="container">
  <p id="notice"><%= notice %></p>
  <div class="wrap">
    <h1>История продаж</h1>
     <div class="pull-right">
        <%= form_tag solds_path, method: :get do %>
        от &nbsp;  <%= text_field_tag 'search[date_from]', @search.date_from %> &nbsp;  
        до &nbsp; <%= text_field_tag 'search[date_to]', @search.date_to %>
           <button class="search-btn fa fa-search btn btn-success " type="submit"> </button>
        <% end %>
     </div> 

    <table class="table table-sm">
      <thead>
        <tr>
          <th>Наименование товара</th>
          <th>Сумма за ед.</th>
          <th>Колличество товара</th>
          <th>Общая сумма</th>

        </tr>
      </thead>


          <% results = ActiveRecord::Base.connection.execute("select 
                products.name,
                products.price, 
                sum(solds.sold_quantity) as total_quantity ,
                sum(products.price * solds.sold_quantity) as total_price

              from solds

              left  join products on solds.product_id = products.id

              group by  products.name , products.price

              order by price  ")
           %>
                      


      <tbody>
        <% @solds.group_by { |s| s.product_id }.each do |product_id, solds| %>
          <tr>
            <td><%= solds.first.product.name %></td>
            <td><%= solds.first.product.price %></td>
            <td><%= solds.map{|s| s.sold_quantity.to_i }.sum.to_s %></td>
            <td><%= solds.map{|s| s.sold_quantity * s.product.price.to_d   }.sum.to_i %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>