<fieldset>

    <div class="row">
      <div class="col"><%= f.date_field :payment_date  %></div>
      <div class="col"> <%= f.collection_select :gym_id, Gym.all, :id, :title, {:include_blank => '----'}  %></div>
      <div class="w-100"></div>
      <div class="col"><%= f.collection_select :gym_id, Gym.all, :id, :price, {:include_blank => '----'}  %></div>
      <div class="col"><%= f.number_field :price %></div>
    </div>


    
 <!--    <div class="remove-btn">
      <li>
        <a  class="remove_fields" href="#">
        <i class="fa fa-minus-circle"></i>Удалить</a>
      </li>
    </div>
    -->
      <%= link_to "remove", '#', class: "remove_fields" %>
      <%= f.hidden_field :_destroy %>


    <hr style="width: 100%;">
</fieldset>

 