<fieldset>

    <div class="row">
      <div class="col"><%= f.date_field :payment_date %></div>
      <div class="col"> <%= f.collection_select :gym_id, Gym.all, :id, :title, {:include_blank => '----'}  %></div>
      <div class="w-100"><hr style="width: 100%;"></div>
      <div class="col"><%= f.collection_select :gym_id, Gym.all, :id, :price, {:include_blank => '----'}  %></div>
      <div class="col"><%= f.number_field :debt %></div>
    </div>

    <%= f.hidden_field :_destroy %>
   
	<li class="remove-btn">
	  <a  class="remove_fields" href="#">
	  <i class="fa fa-minus-circle"></i>Удалить</a>
	</li>
</fieldset>

 