<div class="container">
  <p id="notice"><%= notice %></p>

  <div class="wrap">

    <table class="table">
      <thead>
        <tr>
          <th>Список оплат</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @form_of_payments.each do |form_of_payment| %>
          <tr>
            <td><%= form_of_payment.title %></td>
            <td><%= link_to '', edit_form_of_payment_path(form_of_payment), class: 'fa fa-pencil btn btn-primary' %>
            <%= link_to '', form_of_payment, method: :delete, data: { confirm: 'Are you sure?' }, class: 'fa fa-trash-o btn btn-danger' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'Добавить новую оплату', new_form_of_payment_path %>
  </div>
</div>